# Ignore everything in wp-content
wp-content/*
wp-content/themes/*
wp-content/plugins/*
node_modules/*
/vendor/
db/*
*.sql
.htaccess
index.php
license.txt
readme.html
liesmich.html
wp-config-sample.php
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php


# Exceptions here either plugin or theme

!wp-content/themes/
!wp-content/themes/##replace##/
# !wp-content/plugins/
# !wp-content/plugins/if-a-plugin-is-developed

